#App-body{
  height: 100vh;
  width: 100vw;
  background-image: url(./images/Background_1.jpg);
  display:flex;
}

.city-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 50vh;
  width:20vw;
}

